/** @format */

.Resume {
  padding-top: 15%;
  width: 100%;
  min-height: 100vh;
  background: #2c2c2c;
  display: flex;
  justify-content: center;
}

.ResumeContainer {
  width: 100%;
}

.Tittle {
  color: #ffb632;
  text-align: center;
}

.ResumeButton {
  display: flex;
  align-items: flex-end;
}

.ResumeButton button {
  background-color: #ffb632;
  width: 154px;
  height: 30px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #2c2c2c;
}

.experienceEducation {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.experienceEducationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.experienceEducationContainer > span {
  color: #ffb632;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

.years {
  display: flex;
  justify-content: center;
  background-color: #ffb632;
  width: 120px;
  font-size: 12px;
  font-weight: bold;
  color: #2c2c2c;
}
.experienceEducationTittle {
  font-size: 16px;
  font-weight: bold;
}
.experienceEducationD {
  font-size: 12px;
}

.skillsLanguages {
  margin-bottom: 10px;
  color: #fff;
}

.skillsLanguages .col {
  background-color: #2c2c2c;
}

.skillsLanguages .pSkills {
  display: flex;
  align-items: center;
}
.SkillsPeriod {
  width: 80px;
}
.skillsLanguages .pSkills span:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffb632;
  position: relative;
  left: 5px;
}

.Html5 {
  box-shadow: 32px 0 #ffb632, 64px 0 #ffb632, 96px 0 #fff;
}
.Css3 {
  box-shadow: 32px 0 #ffb632, 64px 0 #ffb632, 96px 0 #fff;
}
.JavaScript {
  box-shadow: 32px 0 #ffb632, 64px 0 #fff, 96px 0 #fff;
}
.MySQL {
  box-shadow: 32px 0 #ffb632, 64px 0 #fff, 96px 0 #fff;
}
.Reactjs {
  box-shadow: 32px 0 #ffb632, 64px 0 #ffb632, 96px 0 #fff;
}
.Nodejs {
  box-shadow: 32px 0 #ffb632, 64px 0 #fff, 96px 0 #fff;
}
.Knexjs {
  box-shadow: 32px 0 #ffb632, 64px 0 #fff, 96px 0 #fff;
}
.Expressjs {
  box-shadow: 32px 0 #ffb632, 64px 0 #fff, 96px 0 #fff;
}
.Git {
  box-shadow: 32px 0 #ffb632, 64px 0 #ffb632, 96px 0 #fff;
}

.Arabic {
  box-shadow: 32px 0 #ffb632, 64px 0 #ffb632, 96px 0 #ffb632;
}
.Danish {
  box-shadow: 32px 0 #ffb632, 64px 0 #fff, 96px 0 #fff;
}
.English {
  box-shadow: 32px 0 #ffb632, 64px 0 #ffb632, 96px 0 #fff;
}
