.Contact {
  width: 100%;
  min-height: 100vh;
  background: #2c2c2c;
  display: flex;
  justify-content: center;
}

.Tittle {
  color: #ffb632;
  text-align: center;
}

.FormContainer {
  background-color: #ffff;
  width: 500px;
  padding: 30px 30px 30px 30px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #ffb632;
  color: #2c2c2c;
}

textarea {
  height: 150px;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #2c2c2c;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #2c2c2c;
}

span {
  margin: 0 5px 0 15px;
}

.Button {
  display: flex;
  justify-content: right;
}

.Button button {
  width: 154px;
  height: 40px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #2c2c2c;
  background-color: #ffb632;
}

.None {
  display: none;
}
