.MessageHasBeenSent {
  width: 100%;
  min-height: 100vh;
  background: #2c2c2c;
  display: flex;
  justify-content: center;
}

.MessageHasBeenSentContainer {
  width: 500px;
  height: 150px;
  margin: 100px 15px 15px 15px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;


}
