/** @format */

.AboutMe {
  padding-top: 15%;
  width: 100%;
  min-height: 100vh;
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.circle-image img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

.css-typing span {
  overflow: hidden;
  border-right: 0.15em solid #ffb632;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffb632;
  }
}
